{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}ルームトップ | public_room{% endblock %}

{% block active_room %}active{% endblock %}

{% block contents %}
<main class="container-md" style="margin-bottom: 10rem;">
    <div class="row mb-4">
        <div class="col-md-8">
            <form method="get">
                <div class="input-group mb-3">
                    <input type="search" class="form-control" name="query" placeholder="">
                    <button type="submit" class="btn btn-primary"><i class="material-symbols-outlined align-middle">search</i></button>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            <a class="btn btn-primary col-12" href="{% url 'room:room_create' %}" role="button">ルームを作成する</a>
        </div>
    </div>
    {% if follower_room_list %}
        <h5>フォロー</h5>
        {% for follower_room in follower_room_list %}
            <div class="card card-body col-12">
                <a class="card-title text-decoration-none fs-5" href="{% url 'room:select_subject' follower_room.pk %}">{{ follower_room.name }}</a>
                <a class="text-decoration-none hstack gap-2" href="{% url 'study:account_detail' follower_room.user.pk %}">
                    {% if follower_room.user.icon %}
                        <img src="/media/{{ follower_room.user.icon }}" alt="{{ follower_room.user.username }}" width="28" height="28" class="rounded-circle">
                    {% else %}
                        <img src="{% static 'images/default_icon.png' %}" alt="{{ follower_room.user.username }}" width="28" height="28" class="rounded-circle">
                    {% endif %}
                    <span>{{ follower_room.user.username }}</span>
                </a>
                <a href="{% url 'room:select_subject' follower_room.pk %}">{{ follower_room.name }}</a>
            </div>
        {% endfor %}
    {% endif %}

    <h5>パブリックルーム</h5>
    <hr class="mt-1 mb-4">
    <div class="row row-cols-1 row-cols-lg-3 g-4">
        {% for public_room in public_room_list %}
            <div class="col">
                <div class="card card-body p-2 shadow">
                    <div class="card-body text-truncate">
                        <div class="mb-2 text-truncate">
                            <a href="{% url 'room:select_subject' public_room.pk %}">{{ public_room.name }}</a>
                        </div>
                        <div class="hstack">
                            <a class="text-decoration-none hstack gap-2" href="{% url 'study:account_detail' public_room.host.pk %}">
                                {% if public_room.host.icon %}
                                    <img src="/media/{{ public_room.host.icon }}" alt="{{ public_room.host.username }}" width="24" height="24" class="rounded-circle">
                                {% else %}
                                    <img src="{% static 'images/default_icon.png' %}" alt="{{ public_room.host.username }}" width="24" height="24" class="rounded-circle">
                                {% endif %}
                                <div>{{ public_room.host.username }}</div>
                            </a>
                            <small class="ms-auto text-muted">{{ public_room.created_at|date:'n/j G:i' }}</small>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="modal" id="roomInfoModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="閉じる"></button>
                </div>
                <div class="modal-body">
                    <p>前回入室したルームの学習データが残っています。</p>
                    <p>データを送信しますか？</p>
                </div>
                <div class="modal-footer">
                    <button type="button" id="deleteRecords" class="btn btn-danger" data-bs-dismiss="modal" onclick="deleteRecords()">削除</button>
                    <form method="post" id="postRecordsForm">
                        {% csrf_token %}
                        <input type="hidden" name="records">
                        <button type="button" id="submitRecordsBtn" class="btn btn-primary">送信</button>
                    </post>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script>
    function deleteRecords() {
        localStorage.removeItem('room');
        localStorage.removeItem('records');
        document.cookie = "submit_records=yes; max-age=0";
    }

    const records = localStorage.getItem('records');

    console.log(document.cookie.indexOf('submit_records=yes'))
    if ((document.cookie.indexOf('submit_records=yes') !== -1)) {
        deleteRecords();
    } else if (records) {
        document.getElementById('postRecordsForm').records.value = localStorage.getItem('records');

        const roomInfoModal = new bootstrap.Modal('#roomInfoModal', {keyboard: false});
        roomInfoModal.show();
    }

    document.getElementById('submitRecordsBtn').addEventListener('click', () => {
        const leaveRoomForm = document.getElementById('leaveRoomForm');
        document.cookie = 'submit_records=yes';
        document.getElementById('postRecordsForm').submit();
    });
</script>
{% endblock %}