{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}補足説明の追加 | StudyRecord{% endblock %}

{% block contents %}
<main class="container-md" style="max-width: 720px; margin-bottom: 10rem;">
    <h4 class="mb-3">補足説明の追加</h4>
    <div class="card card-body mb-4 p-4">
        <h5 class="card-title">{{ question.title }}</h5>
        <hr class="mt-1">
        <p class="card-text">{{ question.text|linebreaksbr }}</p>
        {% if question.image %}
            <div class="mb-3">
                <a role="button" data-bs-toggle="modal" data-bs-target="#imageModal" data-image="{{ question.image }}">
                    <img src="/media/{{ question.image }}" class="rounded mx-auto d-block" style="object-fit: cover;" width="320" height="240"/>
                </a>
            </div>
        {% endif %}
    </div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-4">
            <label class="form-label" for="{{ form.supplement.id_for_label }}">説明文</label>
            {% render_field form.supplement class='form-control' %}
        </div>
        <button type="submit" class="btn btn-primary">送信</button>
    </form>

    <!-- 画像表示モーダル -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel">
        <div class="modal-dialog modal-lg modal-dialog-centered">
            <div class="modal-content">
                <img class="col-12" id="image" src="/media/{{ question.image }}"/>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script>
    document.getElementById('imageModal').addEventListener('show.bs.modal', event => {
        targetEl = event.relatedTarget;
        const image = targetEl.dataset.image;
        document.getElementById('image').setAttribute('src', '/media/' + image);
    });
</script>
{% endblock %}
