{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}{{ account.username }} | StudyRecord{% endblock %}

{% block active_account_detail %}
{% if account.username == user.username %}active{% endif %}
{% endblock %}

{% block contents %}
<main class="container-md" style="max-width: 720px; margin-bottom: 10rem;">
    <div class="card card-body d-flex justify-content-center text-center shadow-sm mb-3 py-4">
        {% if account.icon %}
            <img src="/media/{{ account.icon }}" alt="{{ account.username }}" width="64" height="64" class="rounded-circle mx-auto mb-2">
        {% else %}
            <img src="{% static 'images/default_icon.png' %}" alt="{{ user.username }}" width="64" height="64" class="rounded-circle mx-auto mb-2">
        {% endif %}
        <h6 class="mb-3">{{ account.username }}</h6>

        <!-- 自己紹介 -->
        {% if account.introduce %}
            <p class="col-9 mx-auto text-start mb-3">{{ account.introduce }}</p>
        {% endif %}

        {% if account.pk == user.pk %}
            <a class="btn btn-outline-primary rounded-pill col-8 mx-auto mb-3" href="{% url 'study:account_update' account.pk %}" role="button">プロフィール編集</a>
        {% elif connected %}
            <a class="btn btn-secondary rounded-pill col-8 mx-auto mb-3" href="{% url 'study:unfollow' account.pk %}" role="button">フォロー解除</a>
        {% else %}
            <a class="btn btn-primary rounded-pill col-8 mx-auto mb-3" href="{% url 'study:follow' account.pk %}" role="button">フォロー</a>
        {% endif %}
        <div class="hstack gap-3 mx-auto">
            <a class="fw-light text-decoration-none" href="{% url 'study:account_following' account.pk %}" style="font-size: 0.9rem;">フォロー : {{ following }}</a>
            <a class="fw-light text-decoration-none" href="{% url 'study:account_followers' account.pk %}" style="font-size: 0.9rem;">フォロワー : {{ follower }}</a>
        </div>
    </div>
</main>
{% endblock %}
