{% extends 'base.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}教科一覧 | StudyRecord{% endblock %}

{% block active_subject %}active{% endblock %}

{% block contents %}
<main class="container-md" style="max-width: 720px; margin-bottom: 10rem;">
    <h5 class="mb-3">教科一覧</h5>
    <ul class="list-group mb-5">
        {% if subject_list %}
            {% for subject in subject_list %}
                <li class="list-group-item hstack gap-3">
                    <span class="text-break"><i class="bi bi-circle-fill mx-3" style="color: {{ subject.color }};"></i>{{ subject.name }}</span>
                    <a class="btn btn-primary ms-auto" href="{% url 'study:subject_update' subject.id %}" role="button">編集</a>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deletionModal" data-id="{{ subject.id }}" data-subject-color="{{ subject.color }}" data-subject="{{ subject.name }}">削除</button>
                </li>
            {% endfor %}
        {% else %}
            <li class="list-group-item text-center py-5">教科がありません</li>
        {% endif %}
        <li class="list-group-item text-center">
            <a href="{% url 'study:subject_create' %}">教科を作成する</a>
        </li>
    </ul>

    <!-- 記録削除モーダル -->
    <div class="modal fade" id="deletionModal" tabindex="-1" aria-labelledby="deletionModalLabel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="deletionModalLabel">教科の削除</h1>
                </div>
                <div class="modal-body">
                    <p>この教科を削除しますか？</p>
                    <div class="card card-body hstack gap-3 mb-3 col-11 mx-auto">
                        <i class="bi bi-circle-fill mx-3" id="subjectColor"></i>
                        <div id="name">{{ subject.name }}</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">キャンセル</button>
                    <form method="post" action="#" id="deletionForm">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">削除する</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}

{% block script %}
<script>
    document.getElementById('deletionModal').addEventListener('show.bs.modal', event => {
        targetEl = event.relatedTarget;
        const id = targetEl.dataset.id;
        const subjectColor = targetEl.dataset.subjectColor;
        const name = targetEl.dataset.subject;

        document.getElementById('deletionForm').action = 'subject/subject-delete/' + id;
        document.getElementById('subjectColor').style.color = subjectColor;
        document.getElementById('name').innerHTML = name;
    });
</script>
{% endblock %}
